.text-field {
  width: 99%;
  height: 90px;
  border: 2px solid black;
  background: white;
  color: mediumorchid;
  font-size: 42px;
  padding-left: 15px;
  margin: 5px 5px 5px 5px;
}
h2 {
  font-size: 42px;
  color: mediumorchid;
  margin: 5px 5px 5px 5px;
  border: 2px solid black;
  padding-left: 15px;
}
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: mediumorchid;
  width: 120px;
  height: 60px;
  background: white;
  border-radius: 3px;
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
}
